<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
  </li>
  <li class="nav__item">
    <a href="/about/" class="nav__link">About</a>
  </li>
  <li class="nav__item">
    <a href="/affirmations/" class="nav__link">Affirmations</a>
  </li>
  <li class="nav__item">
    <a href="/priorities/" class="nav__link">Priorities</a>
  </li>
  <li class="nav__item">
    <a href="/laws/" class="nav__link">Laws</a>
  </li>
  <li class="nav__item">
    <a href="/faqs/" class="nav__link">FAQs</a>
  </li>
  <li class="nav__item">
    <a href="/contact/" class="nav__link">Contact</a>
  </li>          
</ul>