// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .35s;


// *****************
// Color Variables
// *****************
$brand-color: #7b5b47;
$dark: #101010;
$gray: #f0f0f0;
$blue-gray: #757679;
$white: #fff;

// Text color
$text-color: $dark;
$text-color-alt: #767676;

// Background color
$background-color: #fff;
$background-color-alt: #f0f0f0;

// Heading color
$heading-font-color: $text-color;


// Link color
$link-color: $text-color;
$link-color-hover: $brand-color;


// Button color
$button-color: $dark;
$button-background-color: $dark;

$button-color-hover: $white;
$button-background-hover: $dark;

// Border color
$border-color: #f0f0f0;
$hr-color: $border-color;



// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Roboto', sans-serif;
$base-line-height: 1.7;
$base-letter-spacing: -0.008em;

// Headings
$heading-font-family: 'Playfair Display', serif;
$heading-font-weight: 400;
$heading-letter-spacing: -.5px;
$heading-color: $dark;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.3;